* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: sans-serif;
    background-color: #FDF9EC;
}

header {
    display: flex;
    align-items: center;
    background-color: #C64F06;
    font-size: 2rem;
    color: #FDF9EC;
    height: 10vh;

    .fa-bars {
        font-size: 3rem;
        margin-left: 2rem;
        cursor: pointer;
    }

    h2 {
        margin-left: 5rem;
    }
}

.main__header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    height: 15vh;

    p {
        font-size: 4rem;
        margin-right: 2rem;
    }
}

.articles__container {
    width: 70%;
    margin: 0 auto;
    
    h2 {
        font-size: 2.5rem;
        color: #C64F06;
        border-bottom: 2px solid #C64F06;
    }

    .articles {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-top: 5rem;
        font-size: 1.6rem;
        line-height: 1.6;

        .article {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 3rem;
            border: 3px solid #C64F06;
            border-radius: 2rem;
            background-color: #FFCB82;
            overflow: hidden;
            width: 40%;
            cursor: pointer;

            &:hover {
                box-shadow: 0 0 20px rgba(0,0,0,0.8);
            }

            img {
                width: 100%;
            }

            h4 {
                font-size: 2rem;
                margin-top: 1rem;
            }

            p {
                padding-bottom: 1rem;
            }
        }
    }

    .btn__container {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        button {
            width: 30%;
            height: 5rem;
            background-color: #C64F06;
            border: none;
            outline: none;
            border-radius: 5rem;
            color: #FDF9EC;
            cursor: pointer;
           
            &:hover {
                box-shadow: 0 0 10px rgba(0,0,0,0.5);
            }
        }
    }
}

.todo__container {
    width: 70%;
    margin: 0 auto;
    margin-top: 5rem;
    height: 50vh;

    h2 {
        font-size: 2.5rem;
        color: #C64F06;
        border-bottom: 2px solid #C64F06;
    }

    .content {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;

        p {
            font-size: 5rem;
            color: #a7a6a6;
        }
    }
}

.move__menu {
   position: fixed;
   z-index: 1000;
   display: flex;
   flex-direction: column;
   font-size: 2rem;
   background-color: #FDF9EC;
   width: 20%;
   height: 100vh;
   transition: 0.3s;
   transform: translateX(-150%);
   box-shadow: 5px 0 10px rgba(0,0,0,0.5); /* Параметры тени */

   .close {
       position: absolute;
       color: #fdf9ec;
       font-size: 5rem;
       top: 0;
       right: 1rem;
       cursor: pointer;
   }

   .profile__container {
        margin-bottom: 5rem;
        background-image: url("../images/profile-img.jpg");
        background-size: cover;
        
        p {
            margin-top: 15rem;
            margin-left: 1rem;
            color: #FDF9EC;
        }
   }

   .menu__items {
        margin-left: 2rem;
        list-style: none;
        line-height: 3;

        li {
           color: #c64f06;
           cursor: pointer;
           padding-left: 3rem;
           border-radius: 3rem;
            
           &:hover {
                box-shadow: 0 0 10px rgba(0,0,0,0.5);
           }

           a {
               margin-left: 1rem;
           }
        }
   }

}

.move__menu__active {
    transform: translateX(0);
}

.swiper-container {
    border: 2px solid #FF9A51;
    border-radius: 2rem;
    width: 70%;
    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: 5rem;

    .swiper-wrapper {
        .swiper-slide {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 10rem;
            p {
                font-size: 5rem;
            }
        }
    }
}

.hide {
    display: none;
}

.articles__header {
    display: flex;
    justify-content: space-around;
    margin-top: 5rem;
    border-bottom: 2px solid #C64F06;

    h2 {
        border: none;
        font-size: 3rem;
        padding-bottom: 1rem;
        cursor: pointer;
        
        &:hover {
            color: #941D00;
        }
    }
}

.about__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;

    .about__content {
        text-align: center;

        h1 {
            font-size: 9rem;
            padding-bottom: 1rem;
        }

        h2 {
            font-size: 5rem;
            padding-bottom: 1rem;
            color: #C64F06;
        }

        p {
            font-size: 2rem;
            color: #70727B;
        }
    }
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input {display:none;}
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

.settings__container {
    display: flex;
    justify-content: center;
    height: 90vh;

    .settings {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 70%;
        height: 70vh;

        .theme__settings {
            display: flex;
            flex-direction: column;

            h2 {
                color: #C64F06;
                font-size: 3rem;
                margin-bottom: 2rem;
                border-bottom: 2px solid #C64F06;
                width: 100%;
            }

            .dark__container {
                display: flex;
                align-items: center;
                border-bottom: 1px solid #AB3400;
                margin-left: 1rem;
                margin-bottom: 2rem;
                width: 80%;

                h3 {
                    color: #AB3400;
                    font-size: 2rem;
                }

                .switch {
                    margin-bottom: 0.5rem;
                    margin-left: 2rem;
                }
            }

            .colorized__container {
                display: flex;
                flex-direction: column;
                margin-left: 1rem;

                h3 {
                    color: #AB3400;
                    font-size: 2rem;
                    margin-bottom: 1rem;
                }

                .colors {
                    display: flex;
                    flex-wrap: wrap;
                    width: 70%;
                    margin-left: 1rem;

                    button {
                        width: 4rem;
                        height: 4rem;
                        border: 3px solid rgb(196, 190, 190);
                        border-radius: 100%;
                        margin-bottom: 0.5rem;
                        margin-right: 0.5rem;
                    }

                    .color__1 {
                        background-color: #880015;
                    }

                    .color__2 {
                        background-color: #ED1C24;
                    }

                    .color__3 {
                        background-color: #FF7F27;
                    }

                    .color__4 {
                        background-color: #FFF200;
                    }

                    .color__5 {
                        background-color: #22B14C;
                    }

                    .color__6 {
                        background-color: #00A2E8;
                    }

                    .color__7 {
                        background-color: #3F48CC;
                    }

                    .color__8 {
                        background-color: #A349A4;
                    }

                    .color__9 {
                        background-color: #B97A57;
                    }

                    .color__10 {
                        background-color: #FFAEC9;
                    }

                    .color__11 {
                        background-color: #FFC90E;
                    }

                    .color__12 {
                        background-color: #EFE4B0;
                    }

                    .color__13 {
                        background-color: #99D9EA;
                    }
                
                }
            }
        }

        .language__settings {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            height: 20vh;
        
            h2 {
                color: #C64F06;
                font-size: 3rem;
                border-bottom: 2px solid #C64F06;
            }

            ul {
                list-style: none;

                li {
                    color: #AB3400;
                    font-size: 2rem;
                    padding-left: 1.8rem;
                    line-height: 1.6;
                    cursor: pointer;
                    width: 11rem;
                    border-radius: 3rem;;

                    &:hover {
                        box-shadow: 0 0 20px rgba(0,0,0,0.8);
                    }
        
                }
            }
        }
    }
}

@media (max-width: 991px) {
    html {
        font-size: 7px;
    }

    .articles__container {
        .articles {
            flex-direction: column;

            .article {
                margin: 0 auto;
                width: 70%;
                margin-bottom: 3rem;
            }
        }

        .btn__container {
            button {
                width: 50%;
            }
        }
    }

    .move__menu {
        width: 80%;
        font-size: 2.7rem;

        .profile__container {
            p {
                margin-top: 20rem;
              
            }
       }
    }

    .settings__container {
        .settings {
            height: 45vh;

            .language__settings {
                height: 12vh;
            }
        }
    }
}